body {
  /* 1em=14px -- 110px*/
  padding: 7.857142857142857em 0 0 0; /*@110px = 7.857142857142857em 0 0 0 @80 px = 5.714285714285714em 0 0 0*/
  color: #2c3e50;
  font-family: "Lato";
}

a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  color: #18bc9c;
}

  .navbar-fixed-top {
  color: #ffffff;
  margin-bottom: 0;
}

.navbar {
  border-radius: 0;
  background: #2c3e50;
  text-transform: uppercase;
  /* 1em=14px -- 110px*/
  height: 7.857142857142857em; /*1em=14px @110px = 7.857142857142857em  @80 px = 5.714285714285714em*/
}

.navbar-brand {
  /* 1em=14px/30px 30px/42px */
  font: 700 2.142857142857143em/1.4em "Montserrat";
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  color: #18bc9c;
  outline: 0;
}

.nav > li > a {
  background: #2c3e50;
  /* 1em=15px -- 15px/33px*/
  font: 700 1.071428571428571em/2.2em "Montserrat";
  /* 1em=15px -- 1px*/
  letter-spacing: 0.0666666666666667em;
  color: #fff;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus  {
  color: #18bc9c;
  background: #2c3e50;
  outline: 0;
}

.splash {
  background: #18bc9c;
  /* 1em=14px -- 664px*/
  height: 47.42857142857143em;
  color: #fff;
}

.logo {
  margin: 80px 0 20px 0;
}

.nameplate {
  margin: 50px;
  font: 700 70px/60px "Montserrat";
  text-transform: uppercase;
}

.bird-light, .bird-dark {
  margin: 30px auto 30px;
  padding: 0;
  border: 0;
  border-top: solid 5px;
  max-width: 250px;
  text-align: center;
}

.bird-light:after {
  color: #fff;
  background-color: #18bc9c;
}

.bird-dark:after {
  color: #2c3e50;
  background-color: #fff;
}

.bird-light:after, .bird-dark:after {
  content: "\f099";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: "FontAwesome";
  font-size: 2.25em;
}

.subtitle {
  font-size: 25px;
}

.subtitle > i {
  margin: 0 10px;
  padding: 0 5px;
  font-size: 23px;
  text-align: center;
}

.section-header {
  text-transform: uppercase;
  font: 700 45px/45px "Montserrat";
  margin: 100px 0 0 0;
}

.portfolio {
  display: block;
  background: #fff;
  padding-bottom: 100px;
  }

.portfolio-tile {
  margin: 0 0 30px;
  width: 33.33333333%;
}

.portfolio-link {
  display: block;
  position: relative;
}

.caption {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(24,188,156,.7);
  opacity: 0;
  transition: all ease .5s;
}

.caption:hover {
  opacity: 1;
}

.caption-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  height: 20px;
  margin-top: -40px;
  font-size: 20px;
  color: #fff;
}

.about {
  background: #18bc9c;
  /* 1em=14px -- 568px*/
  height: 40.57142857142857em;
  color: #fff;
}

.contact {
  background: #fff;
  height: 700px;
}

.footer {
  font: 400 20px/25px "Lato";
  height: 275px;
  background: #2c3e50;
  color: #fff;
}

.footer-heading {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 25px;
  padding-top: 50px;
  text-transform: uppercase;

}

.footer p, .footer ul {
  padding-top: 35px;
}

.footer .btn-social {
  display: inline-block;
  color: #fff;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  transition: all 0.3s ease-in-out;
}

.footer .btn-social:hover, .footer .btn-social:focus, .footer .btn-social:active, .footer .btn-social.active {
  color: #18bc9c;
  background-color: #fff;
  outline: 0;
}

.copyright {
  position: relative;
  height: 75px;
  background: #233140;
  color: #fff;
  font: normal 15px "Lato";
}

.copyright p {
  margin: 0 -50% 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
